include ./components/standart-button/standart-button
include ./components/slider/slider
doctype html
html
    head
        meta(charset = "utf-8")
        meta(name = "viewport", content = "initial-scale = 1.0, width = device-width")
        meta(name = "keywords" content = "Игра Жизнь клеточный автомат")
        link(rel = "apple-touch-icon", sizes = "60x60", href = "favicons/apple-touch-icon.png")
        link(rel = "icon", type = "image/png", sizes = "32x32", href = "favicons/favicon-32x32.png")
        link(rel = "icon", type = "image/png", sizes = "16x16", href = "favicons/favicon-16x16.png")
        link(rel = "manifest", href = "favicons/manifest.json")
        link(rel = "mask-icon", href = "favicons/safari-pinned-tab.svg", color = "#5bbad5")
        meta(name = "theme-color", content = "#ffffff")
        title Life
    body
        main
            h1 Игра «Жизнь»
            .game
                table.js-game__board.game__board
                .js-game__controls.game__controls
                    .game__container
                        +standart-button({ mix:'game__button js-game__button-start', title:'start', size:'small' })
                        +standart-button({ mix:'game__button js-game__button-pause', title:'pause', size:'small' })
                        +standart-button({ mix:'game__button js-game__button-clear', title:'clear', size:'small' })
                    .game__container
                        .game__label speed
                        .game__slider
                            +slider({ mix:'js-game__slider-speed', min: 1, max: 10, value: 1, line: true, view: true })
                    .game__container
                        .game__label width
                        .game__slider
                            +slider({ mix:'js-game__slider-width', min: 1, max: 100, value: 10, line: true, view: true })
                    .game__container
                        .game__label height
                        .game__slider
                            +slider({ mix:'js-game__slider-height', min: 1, max: 100, value: 10, line: true, view: true })
                    .game__container
                        .game__status.js-game__status

            dl Игра «Жизнь»
                dt — клеточный автомат, придуманный английским математиком Джоном Конвеем в 1970 году.
            section.description
                p Каждая клетка на этой поверхности может находиться в двух состояниях: быть «живой» (заполненной) или быть «мёртвой» (пустой). Клетка имеет восемь соседей, окружающих её.
                p Распределение живых клеток в начале игры называется первым поколением. Каждое следующее поколение рассчитывается на основе предыдущего по таким правилам:
                ul
                    li в пустой (мёртвой) клетке, рядом с которой ровно три живые клетки, зарождается жизнь;
                    li если у живой клетки есть две или три живые соседки, то эта клетка продолжает жить; в противном случае, если соседей меньше двух или больше трёх, клетка умирает («от одиночества» или «от перенаселённости»)
                p Игра прекращается, если
                ul
                    li на поле не останется ни одной «живой» клетки
                    li конфигурация на очередном шаге в точности (без сдвигов и поворотов) повторит себя же на одном из более ранних шагов (складывается периодическая конфигурация)
                    li при очередном шаге ни одна из клеток не меняет своего состояния (складывается стабильная конфигурация; предыдущее правило, вырожденное до одного шага назад)
                p Эти простые правила приводят к огромному разнообразию форм, которые могут возникнуть в игре.
                p Игрок не принимает прямого участия в игре, а лишь расставляет или генерирует начальную конфигурацию «живых» клеток, которые затем взаимодействуют согласно правилам уже без его участия (он является наблюдателем).
