$blue = #4eb7a8 #28a290
$orange = #e75735 #bf3e1f
$gray = #f2f2f2 #e5e5e5 #8e8d8d
$white = white
$font = Helvetica, Arial, sans-serif;

body
  color $blue[1]
  background-color $gray[0]
  margin 0
  font-family Helvetica, Arial, sans-serif;

  main
    width 710px
    padding 10px
    margin auto
    background-color white

    .game
      display flex
      margin-bottom 20px

      #board
        width 400px
        height auto
        border-collapse collapse

        td
          border 1px solid $gray[1]
          background-color $white
          width auto
          height auto
          box-sizing border-box

        .live
          background-color $blue[1]

    #controls
      padding-left 10px
      width 300px

      .container
        display flex
        justify-content space-between
        align-items flex-end

        .slider-mix
          margin 10px
          flex 1 1 100px

        .button-mix
          font-weight 500

        .label
          width 50px
          height 40px
          line-height @height

        .status
          margin-top 50px
          text-align center
          font-size 2rem
          border 1px solid $gray[1]
          border-radius 5px
          width 100%
          height 50px
          line-height @height

          &:before
            content: 'game started'

          &_stopped:before
            content: 'game stopped'
            color $gray[2]


@import './components/standart-button/standart-button.styl'
standart-button($font, $blue, $orange, $gray, $white)

@import './components/slider/slider.styl'
slider($font, $blue, $white, $gray)
