
mixin standart-button(title,size,color)
    -var sizes=['normal','small']; colors=['blue','orange'];
    if(!title)
        -title = 'button'
    if(!size)
        -size = sizes[0]
    if(color != colors[0] && color != colors[1])
        -color = colors[0]
    button(class="standart-button standart-button_"+color+" standart-button_"+size+" standart-button_"+color+"-"+size onclick="buttonClick(event)") #{title}
